@page
@model PocketExplorer.Web.Pages.IndexModel
@{
    var locations = Model.Locations;
}

<meta name="viewport" content="width=device-width, initial-scale=1" />

<style>
    html, body {
        background: #000;
        margin: 0;
        padding: 0;
    }

    .menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 3rem;
        background-color: #1c1c1e;
        align-content: center;
        justify-content: space-between;
    }

    .menu-item {
        margin: 0.5rem 2rem;
    }

    #port {
        color: #aaa;
        height: 1.5rem;
        font-weight: bold;
        font-size: 1.2rem;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    #exit {
        color: #f28;
        height: 2rem;
        width: 4rem;
        font-weight: bold;
        background-color: #000;
        border: #f28 solid 0.15rem;
        border-radius: 0.5rem;
    }

        #exit:hover {
            background-color: #222;
        }

        #exit:active {
            background-color: #333;
        }

    .locationList {
        margin: 0.8rem;
        display: flex;
        flex-direction: column;
        width: calc(100% - 1.6rem);
        height: calc(100% - 1.6rem - 3rem);
        overflow-y: hidden;
        overflow-y: auto;
    }

    .locationUnit {
        display: flex;
        flex-direction: row;
        margin: 0.8rem;
        padding: 0.8rem;
        background-color: #1c1c1e;
        border-radius: .5rem;
    }

    .locationBtn {
        color: #fff;
        font-weight: bold;
        border: 0;
        border-radius: 0.5rem;
        background-color: #07f;
        height: 3rem;
        width: 3rem;
    }

        .locationBtn:hover {
            background-color: #0069ff;
        }

        .locationBtn:active {
            background-color: #0060ff;
        }

    .locationDesc {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
    }

    .locationName {
        color: #fff;
        font-size: 1.3rem;
    }

    .locationPath {
        color: #ccc;
        font-size: 0.9rem;
    }
</style>

<div class="menu">
    <div class="menu-item" id="port">PORT @Model.Port</div>
    <button class="menu-item" id="exit">Exit</button>
</div>

<div class="locationList">
    @foreach (var location in locations)
    {
        <div class="locationUnit">
            <a href="browse/@location.Name">
                <button class="locationBtn">
                    OPEN
                </button>
            </a>
            <div class="locationDesc">
                <div class="locationName">@location.Name</div>
                <div class="locationPath">@location.Path</div>
            </div>
        </div>
    }
</div>

<script>
    document.querySelector('#exit').onclick = () => {
        document.cookie = "Auth-Key=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        location.reload();
    };
</script>
